/* Denna fil skall innehålla din CSS kod */
#wrapper { 
    height: 100vh;
    display: grid; 
    border: solid black 1px;
    grid-template-areas: 
    'nv'
    'b1'
    'b2'
    'b3'
    'ft'
    ;
    

}

#bild {
    grid-area: b1;
    background-color: lightgreen;
}

#bild2 {
    grid-area: b2;
    background-color: lightcoral; 
}

#bild3 {
    grid-area: b3; 
    background-color: purple;
}

footer {
    grid-area: ft;
    background-color: grey;
}






* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box; 
}


nav {
    grid-area: nv;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    height: 10vh; 
    background-color: grey;
    font-family: sans-serif;
    
}

.burger {
    margin-left: 50px; 
    cursor: pointer; 
}

.navLinks {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    position: absolute; 
    left: 0px; 
    height: 90vh; 
    top: -90vh;
    background-color: grey;
    align-items: center; 
    width: 20%; 
    transition: all 1s; 
}

.navActive{
    transform: translateY(100vh)
}

.navLinks li {
    list-style: none; 
}

.navLinks a {
    color: black; 
    text-decoration: none; 
    letter-spacing: 3px;
    font-weight: bold; 
    font-size: 20px; 
}

.burger div {
    width: 25px; 
    height: 3px;
    background-color: black;
    margin: 5px; 
    border-radius: 10%; 
    transition: all 0.3s; 
}

.toggle .line1 {
    transform: rotate (-45deg) translate( -5px, 6px); 
}

.toggle .line2 {
    opacity: 0; 
}

.toggle .line3 {
    transform: rotate (45deg) translate( -5px, -6px);
}

