/* Denna fil skall innehålla din CSS kod */
#wrapper { 
    height: 100vh;
    display: grid; 
    grid-template-areas: 
     'nav nav'
     's01 s01 '
    
    ;
    grid-template-columns: 20% 80%; 
    grid-template-rows: 10vh 120vh;

}




#section1 {
    grid-area: s01; 
    background-color: none;
    background-image: url(../img/blurstairs.png);
    background-size: 100%;
    background-size: contain;
    background-size: cover;
    
}


#boxtext {
    width: 275px;
    height: 150px;
    background-color:#4e4e50;
    position: absolute; 
    top: 200px;
    left: 50px;
    border-radius: 10px;
}


.slideshow {
    width: 300px;
    height: 400px; 
    position: absolute; 
    left: 40px;
    top: 450px;
    border-radius: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
}

#boxtext p {
    color: white; 
    padding-top: 55px;
    margin-left: 65px;
    font-family: sans-serif;
    font-size: 40px;
}

* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box; 
}


nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    height: 10vh; 
    background-color: #1a1a1d;
    font-family: sans-serif;
    z-index: 1;
    
}

.burger {
    margin-left: 35px; 
    cursor: pointer; 
}

.navLinks {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    position: absolute; 
    left: 0px; 
    height: 90vh; 
    top: -90vh;
    background-color: #1a1a1d;
    align-items: center; 
    width: 100%; 
    transition: all 1s; 
}

.navActive{
    transform: translateY(100vh)
}

.navLinks li {
    list-style: none; 
}

.navLinks a {
    color: white; 
    text-decoration: none; 
    letter-spacing: 3px;
    font-weight: bold; 
    font-size: 20px; 
}

.burger div {
    width: 25px; 
    height: 3px;
    background-color: white;
    margin: 5px; 
    border-radius: 10%; 
    transition: all 0.3s; 
}

.toggle .line1 {
    transform: rotate (-45deg) translate( -5px, 6px); 
}

.toggle .line2 {
    opacity: 0; 
}

.toggle .line3 {
    transform: rotate (45deg) translate( -5px, -6px);
}

/* CSS för kopsida.html */
#wrapperk {
    height: 100vh; 
    display: grid;
    grid-template-areas:
    'nav nav'
    'sta sta'
    'fot fot'
    ;
    grid-template-rows: 10vh 275vh 20vh; 
}

.starticle {
    margin: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.staircontainer {
    grid-area: sta;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}


.starticle li{
    letter-spacing: 0px;
    font-size: 15px;
    list-style: none; 
}

.starticle li a {
    letter-spacing: 0px;
    font-size: 15px;
    color: #1a1a1d;
    text-decoration: none;
}

footer {
    grid-area: fot;
    background-color: #1a1a1d;

}

.picture1 {
    background-image: url(../img/alex-shu-WzRAL_jsb2k-unsplash.jpg);
    height: 250px;
    width: 200px; 
    background-size: 100%;
}
 
.picture2 {
    background-image: url(../img/christina-dibernardo-cdI-r1QlCvo-unsplash.jpg);
    height: 250px;
    width: 200px; 
    background-size: 100%;
}

.picture3 {
    background-image: url(../img/muzammil-soorma-6M_Wiwi1LQQ-unsplash.jpg);
    height: 250px;
    width: 200px; 
    background-size: 100%;
}

.picture4 {
    background-image: url(../img/qinghong-shen-A71hpMTGZ4I-unsplash.jpg);
    height: 250px;
    width: 200px; 
    background-size: 100%;
}

.picture5 {
    background-image: url(../img/garin-chadwick-ECSP5pDeCI4-unsplash.jpg);
    height: 250px;
    width: 200px; 
    background-size: 100%;
}

.picture6 {
    background-image: url(../img/jason-briscoe-UV81E0oXXWQ-unsplash.jpg);
    height: 250px;
    width: 200px; 
    background-size: 100%;
}

/* CSS för betala.html */

#wrapperb1 {
    height: 100vh; 
    display: grid; 
    grid-template-areas:
    'nav nav'
    'ite ite'
    'fet fet'
    
    ;
    grid-template-rows: 10vh 100vh 20vh;
}

.container {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-bottom: 55px;
}

.itemcontainer {
    grid-area: ite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.stairphoto1 {
    background-image: url(../img/alex-shu-WzRAL_jsb2k-unsplash.jpg);
    background-size: 100%;
    height: 50vh;
    width: 40vh;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #1a1a1d;
    width:200px;
    height:50px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.feetsies {
    grid-area: fet;
    background-color: #1a1a1d;
    height: 15vh;
    width: 100vw;
}